<fieldset>
  <div class='row'>
    <div class="form-group">
      <%= f.label :preco, 'Preço:', class: 'control-label col-lg-2' %>
      <div class="col-lg-4">
        <div class="padd-left">
          <%= f.text_field :preco, class: "money form-control input-sm" %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="form-group">
      <%= f.label :recompensa_divulgacao, 'Recompensa Por Divulgação (Safiras):', class: 'control-label col-lg-2' %>
      <span>
      <i class="fa fa-question-circle dica" tabindex="0" role="button" data-toggle="popover" data-container="body" data-placement="bottom" data-html="true" style="color: dodgerblue;" title="Defina a Recompensa por Divulgação" data-content="Safiras é a forma através da qual você <b>fideliza</b> seus clientes e também os estimula a <b>divulgar o seu trabalho</b>.<br />

        Defina neste campo quantas Safiras seu cliente receberá como recompensa quando ele postar as fotos do serviço prestado por você nas redes sociais. <br />
        <b>Esclarecimentos</b>
        <ol>
          <li>
            <i>
            Cada Safira equivale a R$ 0,50 (50 centavos). O acumulo de Safiras dará ao seu cliente a vantagem de trocá-las por serviços fornecidos por você quando ele juntar Safiras suficientes.</i>
          </li>
          <li>
            <i>Seu cliente receberá as Safiras apenas uma única vez (independentemente da quantidade de fotos postadas nas redes sociais) para cada vez que ele for ao seu estabelecimento <b>e divulgar seu trabalho</b>. Ou seja, sem divulgar seu trabalho, ele não é recompensado.</i>
          </li>
        </ul>">
        </i>
      </span>
      <div class="col-lg-4">
        <div class="padd-left">
          <%= f.text_field :recompensa_divulgacao, class: "form-control input-sm" %>
        </div>
      </div>
    </div>
  </div>
</fieldset>
