<%= content_for :title, 'Política de Privacidade | SafiraSalões' %>

<h2>Esclarecimentos Iniciais: </h2>

<div class="row">
  <ul>
    <li>Entenda como <b>Profissional</b> aquela pessoa que de maneira <b>informal</b> ou <b>legalizada</b> forneça serviços na <b>área da beleza</b> e que utilize o SafiraSalões como meio para a divulgação de seu trabalho;</li>

    <li>Entenda como <b>Cliente</b> aquela pessoa que usufrua dos serviços prestados pelos Profissionais e que utilize o SafiraSalões como meio para a aquisição de vantagens;</li>

    <li>Entenda como <b>Utilizadores</b> aquela pessoa que utilize o SafiraSalões como Cliente ou Profissional.</li>
  </ul>
</div>

<h2>Envio de Fotos</h2>
<div class="row">
  <ul>
    <li>O SafiraSalões <b>não vende</b> a terceiros as fotos enviadas por seus Clientes;</li>

    <li>O SafiraSalões <b>não torna público</b> as fotos enviadas por seus Clientes em outros meios que não seja o <b>Facebook do próprio Cliente</b>;</li>

    <li>Todas as fotos enviadas por nossos Clientes são armazenadas em nossos servidores por um período máximo de 24 horas. Tal medida tem como objetivo dar ao Profissional responsável pelo serviço fornecido a possibilidade de contestá-las - evitando possíveis fraudes. Após o período supracitado, as fotos são <b>excluídas</b> e o Profissional perde o direito de contestá-las;</li>

    <li>O SafiraSalões reserva-se ao direito de adicionar às fotos enviadas pelos Clientes (e posteriormente postadas no perfil do próprio Cliente) as informações de contato do Profissional fornecedor do serviço, não podendo o cliente alterá-las sob o risco de ter sua recompensa revogada.</li>

  </ul>
</div>

<h2>Dados Pessoais</h2>
<div class="row">
  <ul>
    <li>Todas as informações pessoais recolhidas de nossos Clientes, serão utilizadas para tornar a utilização do SafiraSalões mais agradável;</li>
    
    <li>Todas as informações pessoais e profissionais recolhidas dos Profissionais, serão utilizadas para tornar a utilização do SafiraSalões mais agradável bem como na divulgação dos serviços fornecidos por eles;</li>

    <li>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o SafiraSalões.</li>

    <li>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o SafiraSalões serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</li>

    <li>O uso do SafiraSalões pressupõe a aceitação deste Acordo de privacidade. A equipe do SafiraSalões reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</li>
  </ul>
</div>

<h2>Integrações com Sistemas de Terceiros</h2>

<div class="row">
  <ul>
    <li>O SafiraSalões possui integrações com outros sistemas, os quais possuem ferramentas úteis aos nossos Utilizadores. A nossa política de privacidade não é aplicável a sistemas de terceiros. Assim, caso venha a visitá-los, você deverá ler a politica de privacidade dos mesmos.</li>
  </ul>
</div>