<div class="sidebar" id="sidebar">
    <div class="sidebar-dropdown"><a href="#">MENU &gt&gt CLIQUE PARA ABRIR &lt&lt</a></div>
    <ul id="nav">
      <li>
        <%= link_to(admin_root_path, id: 'dashboard', class: active('dashboard')) do %>
          <i class="fa fa-home"></i> Dashboard
        <% end %>
      </li>
    </ul>
</div>