<!-- Início Carousel -->
<div id="carousel-doubt-tour" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-doubt-tour" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-doubt-tour" data-slide-to="1"></li>
    <li data-target="#carousel-doubt-tour" data-slide-to="2"></li>
    <li data-target="#carousel-doubt-tour" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="padding: 0px">

    <div class="item active">
      <%= image_tag "divulgacao.jpg", alt: 'Parabéns', class: "tales" %>
      <div class="carousel-caption">
        <h3>Um Grande Problema</h3>
        <p>Você sabia que <b>os amigos dos seus clientes tem adorado seu trabalho</b>, mas eles não sabem como marcar horário contigo? Clique em '<b>Próximo</b>' e descubra o porquê.</p>
      </div>
    </div>
    
    <div class="item">
      <%= image_tag "antes.jpg", alt: 'Parabéns', class: "tales" %>
      <div class="carousel-caption">
        <h3>Exemplo</h3>
        <p>A foto acima mostra uma postagem de um cliente que <b>não diz quem realizou o trabalho</b>. Resultado: centenas de pessoas que gostaram do visual <b>não sabem como marcar um horário com o profissional</b>.</p>
      </div>
    </div>
    
    <div class="item">
      <%= image_tag("depois.jpg", :alt => "Link para Divulgação", class: "tales") %>
      <div class="carousel-caption">
        <h3>Temos a Solução</h3>
        <p>Com o SafiraSalões <b>seus clientes colocam os dados de contato (definidos por você) nas postagens</b>. Assim os amigos deles sabem <b>como te encontrar para marcar horário</b>!</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("tutorial/0. agendar.jpg", :alt => "Enviar Foto", class: "tales") %>
      <div class="carousel-caption">
        <h3>Como fazer?</h3>
        <p><b>Marque seus clientes</b> na agenda do SafiraSalões <b>preenchendo o formulário</b>. Assim podemos estimulá-lo a <b>divulgar seu contato profissional</b> juntamente com as <b>fotos do novo visual</b>.</b>.</p>
      </div>
    </div>

  </div>

  
</div>
<!-- Fim Carousel -->