<% publish_to "/professional/order_exchanges/#{@professional_id}" do %>
  var numOrdens = parseInt($("#ordens_trocas").text());
  if(numOrdens == 0){
    $("#bom_trabalho").remove()
  }
  $("#ordensDeTroca").append(
      '<% concat(
            content_tag(:li, id: @sc.id) do
              concat(content_tag(:h6) do
                concat "Cliente: #{@sc.customer.nome}"
                concat tag(:br)
                concat "Serviço: #{@sc.service.nome}"
                concat tag(:br)
                concat "Data: #{@sc.datahora_inicio.strftime("%d/%m/%Y")}"
                concat tag(:br)
                concat "Hora: #{@sc.datahora_inicio.strftime("%H:%M")}"
                concat tag(:br)
                concat(content_tag(:span, class: "label label-danger pull-right") do
                  concat(link_to("Recusar",
                                "#myModalReject",
                                class: "rejection_button",
                                :data => {
                                          toggle: "modal",
                                          schedule_id: "#{@sc.id}",
                                          status: "reject"
                                          }
                              )
                  )
                end)
                concat(content_tag(:span, class: "label label-success pull-right") do
                  concat link_to(
                                "Aceitar",
                                accept_exchange_order_schedules_path(
                                    exchange_order: { schedule_id: @sc.id, status: :accept }
                                ),
                                data: { confirm: "Tem certeza?" },
                                method: :post,
                                remote: true)
                end)
              end)
              concat content_tag(:div, nil, class: "clearfix") 
              concat tag(:hr)
            end
          ) %>'
    );

  var numOrdens = parseInt($("#ordens_trocas").text());
  numOrdens = numOrdens + 1;
  $("#ordens_trocas").text(numOrdens)

  noty(
    {
      text: '<strong>Você recebeu uma nova Solicitação de Troca</strong><button class="close" data-dismiss="alert">x</button>',
      layout:'topRight',
      type:'information'
    }
  );
  noty(
    {
      text: '<% concat(
                    content_tag(:div) do
                      concat "Cliente: #{@sc.customer.nome}"
                      concat content_tag(:button, "x", { class: "close", "data-dismiss" => "alert" })
                      concat tag(:br)
                      concat "Serviço: #{@sc.service.nome}"
                      concat tag(:br)
                      concat "Data: #{@sc.datahora_inicio.strftime("%d/%m/%Y")}"
                      concat tag(:br)
                      concat "Hora: #{@sc.datahora_inicio.strftime("%H:%M")}"
                      concat tag(:br)
                      concat tag(:hr)
                      concat(content_tag(:i) do
                        "*Você poderá Aceitar/Recusar esta solicitação posteriormente clicando no botão \"Ordens de Troca\". Certifique-se de aceitar a solicitação, caso o cliente seja realmente atendido, ou recusá-la caso contrário."
                      end)
                    end) %>',
      layout:'topRight',
      type:'alert'
    }
  );
<% end %>

<% publish_to "/customer/order_exchanges/#{current_customer.id}" do %>
  $("div.service-scheduled > div:nth-child(2) > a.btn-warning:not([disabled])[href='<%= create_exchange_order_path(exchange_order: { schedule_id: @sc.id }) %>']").removeClass('btn-warning').addClass('btn-info').text('Solicitação Enviada')
  $("div.service-scheduled > div:nth-child(2) > a.btn-info:not([disabled])[href='<%= create_exchange_order_path(exchange_order: { schedule_id: @sc.id }) %>']").attr('disabled', 'disabled');
  $("#myModal").modal('show');
<% end %>