<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  
    <div class="container">
      <!-- Menu button for smallar screens -->
      <div class="navbar-header">
      <button class="navbar-toggle btn-navbar" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span>Menu</span>
      </button>

      <%= link_to professional_root_path, class: "navbar-brand" do %>
        SafiraSalões
      <% end %>
    </div>
      
      <!-- Navigation starts -->
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">         
        <!-- Links -->
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-user"></i> <%= nome_profissional %> <b class="caret"></b>              
            </a>
            
            <!-- Dropdown menu -->
            <ul class="dropdown-menu">
              <li>
                <%= link_to edit_professional_registration_path do %>
                  <i class="fa fa-tty"></i> Dados de Contato
                <% end %>
              </li>
              <li>
                <%= link_to destroy_session_path(current_resource), :method => :delete do %>
                  <i class="fa fa-sign-out"></i> Sair
                <% end %>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>

    </div>
  </div>