<div class="modal fade" id="myModalReject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalRejectLabel">Informe o Motivo da Rejeição</h4>
        </div>
        <div class="modal-body">
          Por gentileza informe o motivo que o faz rejeitar a solicitação de troca.<br />
          <br />
          <i><strong>*Atenção. </strong>O motivo para a rejeição desta solicitação será enviada ao cliente. Assim sendo, seja respeitoso e descreva seus motivos em detalhes.</i><br />
          <br />
          <%= form_tag "/profissional/schedules/accept_exchange_order", { method: :post, remote: true, id: 'rejection_form' } do %>
            <div class="field">
              Descreva o Motivo Abaixo: <br />
              <%= text_area "exchange_order", "motivo_recusa", class: "form-control" %>
              <%= hidden_field "exchange_order", :schedule_id %>
              <%= hidden_field "exchange_order", :status %>
            </div>
          <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-warning" id="submit_rejection">Enviar</button>
        </div>
      </div>
    </div>
  </div>