  <header>
    <div class="container">
      <div class="row">

        <!-- Button section -->
        <div class="col-md-4 col-sm-4">
        </div>
        <!-- Logo section -->
        <div class="col-md-4 col-sm-4">
          <!-- Logo. -->
          <ul class="nav nav-pills" style="width: 50%; margin-left: auto; margin-right: auto;">
            <!-- Comment button with number of latest comments count -->
            <li class="dropdown dropdown-big">
              <%= link_to "https://www.facebook.com/hashtag/#{current_professional.hashtag}", target: :_blank do %>
                <span class="label label-facebook"><i class="fa fa-facebook-official"></i></span> Fotos Postadas
              <% end %>
            </li>
          </ul>
          <!-- Logo ends -->
        </div>


        <!-- Data section -->

        <div class="col-md-4 col-sm-4">
        </div>

      </div>
    </div>
    <%= alertas_assinatura %>
  </header>