<div class="modal fade" id="myModalTutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TUTORIAL EM VÍDEO DO SAFIRASALÕES</h4>
      </div>
      <div class="modal-body" id="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nBYtRCObY2s" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>