  <header>
    <div class="container">
      <div class="row">

        <!-- Logo section -->
        <div class="col-md-3">
          <!-- Logo. -->
          <div class="logo">
            <h1>
              <%= link_to customer_root_path do %>
                Safira<span class="bold">Salões</span>
              <% end %>
            </h1>
          </div>
          <!-- Logo ends -->
        </div>

        <!-- Button section -->
        <div class="col-md-5">

          <!-- Buttons -->
          <ul class="nav nav-pills">

            
          </ul>

        </div>

        <!-- Data section -->

        <div class="col-md-4">
          <div class="header-data">
            <!-- Traffic data -->
            <%= link_to customer_root_path do %>
              <div class="hdata">
                <div class="mcol-left">
                  <!-- Icon with red background -->
                  <i class="fa fa-diamond bred"></i> 
                </div>
                <div class="mcol-right">
                  <!-- Number of visitors -->
                  <p><%= safiras %> <em>Safiras</em></p>
                </div>
                <div class="clearfix"></div>
              </div>
            <% end %>

            <!-- revenue data -->
            <a href="#">
              <div class="hdata">
                <div class="mcol-left">
                  <!-- Icon with green background -->
                  <i class="fa fa-money bgreen"></i> 
                </div>
                <div class="mcol-right">
                  <!-- Number of visitors -->
                  <p><%= economia %><em>economizados</em></p>
                </div>
                <div class="clearfix"></div>
              </div>                        
            </a>
          </div>
        </div>

      </div>
    </div>
  </header>