<div class="sidebar" id="sidebar">
    <div class="sidebar-dropdown"><a href="#">MENU &gt&gt CLIQUE PARA ABRIR &lt&lt</a></div>

    <!--- Sidebar navigation -->
    <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
    <ul id="nav">
      <!-- Main menu with font awesome icon -->
      <li>
        <%= link_to(new_photo_log_path, id: 'envio_fotos', class: active(['photo_logs', 'photo_log_steps'])) do %>
          <i class="fa fa-camera"></i> Enviar Fotos
        <% end %>
      </li>
      <li>
        <%= link_to(customer_root_path, id: 'meus_servicos', class: active('schedules')) do %>
          <i class="fa fa-scissors"></i> Meus Serviços
        <% end %>
      </li>
    </ul>
</div>