<% content_for :modals do %>
  <div class="modal fade" id="myCustomerCarouselModal" tabindex="-1" role="dialog" aria-labelledby="myCustomerCarouselModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myCustomerCarouselModalLabel">Conheça as Regras</h4>
        </div>
        <div class="modal-body">
          <%= render "customer_carousel_tour" %>
          <div class="content-for-mobile">
          </div>
        </div>
        <div class="modal-footer">
          <div class="panel-footer no-border">
            <ul class="pager wizard no-margin">
              <li class="mr-15">
                <button type="button" class="btn btn-warning btn-lg" id="prev_car_tour">Anterior</button>
              </li>
              <li>
                <button type="button" class="btn btn-success btn-lg" id="next_car_tour">Próximo</button>
                <a type="button" class="btn btn-success btn-lg hide" href="" id="create_reward_link">Criar Recompensa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Formulário só é exibido caso haja suporte do SO e/ou navegador -->
<div id="photo_log_form" class="hidden">
  <%= form_for PhotoLog.new, :html => { :multipart => true, :id => "fileupload", class: 'sign-in form-horizontal shadow rounded no-overflow'  } do |f| %>

    <%= f.hidden_field :schedule_id, value: @sc %>
    <% generate_send_photo_step(f) %>

  <% end %>

  <div style="text-align: center;" class="hidden">
    <%= link_to photo_log_steps_path(s: params[:s]), id: 'photo_log_start_wizard', class: 'btn btn-success btn-lg rounded' do %>
      Próximo Passo <span><i class="fa fa-angle-double-right"></i></span>
    <% end %>
  </div>
</div>


