<div class="modal fade" id="loadingPageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span><i class="fa fa-spinner fa-pulse"></i></span>Aguarde...</h4>
      </div>
      <div class="modal-body">
        Estamos processando sua solicitação para dar início ao processo de envio de fotos. Por gentileza, aguarde.
        <span><i class="fa fa-spinner fa-pulse"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"><span><i class="fa fa-spinner fa-pulse"></i></span>Quase lá...</h4>
      </div>
      <div class="modal-body">
        Suas fotos estão sendo submetidas para nossos servidores e sua recompensa está sendo calculada. Por gentileza, aguarde.
        <span><i class="fa fa-spinner fa-pulse"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Só mais um passo...</h4>
      </div>
      <div class="modal-body">
        <p>
        <b>Ótimas notícias!</b> Suas fotos foram salvas em nosso sistema e agora basta enviá-las para seu Facebook para que você receba suas recompensas.
        </p>
        <p>
          Mas não se preocupe! Nós faremos isso por você. Basta que você nos dê sua permissão clicando no link abaixo.
        </p>
        <p>
          <%= link_to customer_omniauth_authorize_path(:facebook), class: 'btn btn-primary' do %>
            <i class="fa fa-facebook-official"></i>
            <span>"OK! Publique Minhas Fotos!"</span>
          <% end %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não Quero Recompensas</button>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="display: none">
  <%= form_for PhotoLog.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div style="margin-top: 20px;">
      Enviando fotos para: 
      <%= f.select :schedule_id, current_customer.schedules_not_more_than_12_hours_ago.collect { |sc| ["#{sc.professional.nome} pelo serviço #{sc.service.nome}", sc.id] }, {}, onchange: '$(.schedule_id).val(this.val())' %>
    </div>

    <div class="fileupload-buttonbar">
      <div class="span7" style="margin-top: 20px; margin-bottom: 20px;">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="fa fa-plus"></i>
          <span>Escolher Fotos...</span>
          <%= f.file_field :image, multiple: true, name: 'photo_log[image]' %>
        </span>
        <button type="submit" class="btn btn-primary start" style="display: none">
          <i class="fa fa-arrow-circle-o-up"></i>
          <span>Enviar Todas as Fotos</span>
        </button>
      </div>
<!--       <div class="span5">
        <!-- The global progress bar
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div> -->
    </div>

    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>

</div>

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>
