<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alteração de sua senha. Você poderá fazê-lo através do link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se você não fez essa solicitação, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada a menos que você acesse o link acima e crie uma nova.</p>
